.one{
    margin-top: 45px;
    color: darkblue;
}
.two{
    color:#b16255;
    font-size: 1.2em;
    word-spacing: 2px;
    padding-left: 38.5px;
    line-height: 53px;
}
.three{
    color:#b16255;
    font-size: 1.2em;
    word-spacing: 2px;
    padding-left: 38.5px;
    line-height: 31.8px;
}
h3{
    color: #2856ab;
    font-size: 1.3em;
    margin-top: 7px;
    margin-left: 23px;
}
h4{
    color: #555;
    font-size: 1em;
    margin-top: 43px;
    margin-left: 23px;
    word-spacing: 3px;
}
table{
    margin-left: 94px;
    margin-top: 32px;
}

table th{
    background-color: darkblue;
    color: white;
} 
table tr{
    text-align: center;
    word-spacing: 2px;
}

.end{
    background-color: #2b2d3b;
   width: 101.2%;
   height: 100px;
   margin-left:-8px ;
   margin-top: 32px;
}
.end .cn{
   position: absolute;
   color: white;
   font-size: 1.1em;
   margin-top: 30.5px;
   margin-left: 140px;
   word-spacing: 2px;
}
.end .cn2{
   position: absolute;
   color: white;
   font-size: 1.2em;
   margin-top: 39px;
   margin-left: 878px;
   word-spacing: 4px;
}