<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../paraties/head'); %>
</head>
<body class="container">

<header>
  <%- include('../paraties/navbar'); %>
</header>

<main>
  <div class="jumbotron">
    <center><h1>Covid-19 Cases:</h1></center>
    <center><img src="covid2.jpg" width="38%"alt="corona"></center>

    <p>* "NEW DELHI: Even as Covid-19 cases have declined significantly in most parts of the country, around 73 districts still have more than 10% positivity. Also, nearly 80% of the total new cases have been reported from 90 districts, official data show indicating the second wave is now limited to certain areas needing focused measures and intensive restrictions to control further spread."</p>
    <p>* Arunachal Pradesh, Rajasthan, Manipur, Kerala and Meghalaya are the top five states having maximum number of districts with above 10% test positivity. The northeastern states together also account for 47 districts with high positivity rate.</p>
    
    <h3 style="color: blue;">Health information:</h3>
   <p>* COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.</p>
    
   <h4 style="color: blue;">Most common symptoms:</h4>
      <ul>
       <li>fever</li>
       <li> dry cough</li>
       <li>tiredness</li>
      </ul> 
   
   <h4 style="color: blue;">Less common symptoms:</h4>
      <ul>
     <li> aches and pains</li>
     <li> sore throat</li>
     <li>diarrhoea</li>
     <li>conjunctivitis</li>
     <li>headache</li>
     <li>loss of taste or smell</li>
     <li>a rash on skin, or discolouration of fingers or toes</li>
      </ul></br>

  <div class="stats">
    <center><img src="covid1.jpg" width="53%"alt="people afried"></center><br/>
    <h2 style ="color: purple;">Covid afried Total Dead: </h2> 
    <h2 style ="color: royalblue;"><%= total %></h2></br>
   
    <h3>State of Vaccine</h3>
   <h2 style="margin-top: 2%;"><img src="vaccine.jpg" alt="vaccine apply people"></h2>
   <h2 style="margin-left:61.2%;margin-top: -26.8%;"><img src="covid3.jpg" width="395"alt="vaccine apply people" ></h2>
   
   <ol>
    <li>Maharashtra=61,57,799</li> 
     <ul>
      <li>Confirmed (61,57,799)</li> 
      <li>Actived(1,19,442)</li> 
       <li>Discharged (59,12,479)</li>
      <li>Deaths (1,25,878)</li> 
       <li>Vaccination (3,65,25,990)</li>
     </ul>
    </ol>
    <ol type="1" start="2">
     <li>Tamil Nadu=25,18,786</li> 
      <ul>
      <li> Confirmed(25,18,786)</li>
       <li>Active(32,307)</li>
       <li>Discharged(24,53,061)</li>
       <li>Deaths(33,418)</li>
       <li>Vaccination(1,74,90,450)</li>
      </ul>
   </ol>
    
   <ol type="1" start="3"> 
       <li>Delhi=14,35,083</li> 
        <ul>
         <li>Confirmed(14,35,083)</li>
         <li> Active(743)</li> 
         <li> Discharged(14,09,325)</li>
         <li>  Deaths(25,015)</li>
         <li> Vaccination(89,01,626)</li>
       </ul>
       </ol>
       <ol type="1" start="4">
         <li>Assam=5,33,663</li> 
          <ul>
           <li>Confirmed(5,33,663)</li>
           <li>Active(21,319)</li>
           <li>Discharged(5,07,516)</li>  
           <li>Deaths(4,828)</li>  
            <li>Vaccination(80,16,547)</li> 
          </ul>
         </ol>   
   </div>    
   
   <h2 style="margin-left:30%; color: brown;">>> It Is World Of Covid Cases >></h2>
   </div>
</main>

<footer>
  <%- include('../paraties/footer'); %>
</footer>

</body>
</html>