<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../paraties/head'); %>
</head>
<body class="container">

<header>
  <%- include('../paraties/navbar'); %>
</header>

<main>
  <div class="jumbotron">
 <h2 >
     <center><img src="end.jpg" width="64%" height="10%"/></center>
 </h2>
 </div>
   </main>

<footer>
  <%- include('../paraties/footer'); %>
</footer>

</body>
</html>