<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../paraties/head'); %>
</head>
<body class="container">

<header>
  <%- include('../paraties/navbar'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Breaking News</h1></br>
    
    <h3>கடைசியாக அழுதது எப்போது?- கூகுள் சிஇஓ சுந்தர் பிச்சை உருக்கமான பதில்!</h3>
    <p>கூகுள் மற்றும் ஆல்பாபெட் தலைமை நிர்வாக அதிகாரியாக உள்ள சுந்தர்பிச்சை, தமிழ்நாட்டின் சென்னையில் பிறந்து வளர்ந்தவர் என்பது அனைவரும் அறிந்ததே. இதன்காரணமாக இந்தியா அவருள் வேரூன்றி இருப்பதாகவும் தான் இப்போது இருக்கும் இடத்திற்கு பெரும்பங்கு இந்தியாவையே சேரும் எனவும் குறிப்பிட்டுள்ளார்.</p>
   
    <center><img src="sunder.jpg"></center>
   <p>கூகுள் சிஇஓ சுந்தர் பிச்சை கூகுள் சிஇஓ சுந்தர் பிச்சை பிபிசி செய்திதளத்திற்கு பேட்டி அளித்துள்ளார். அதில் கோவிட்-19 தொற்று பரவலால் ஏற்பட்ட விளைவு, இணைய அச்சுறுத்தல் உட்பட பல கேள்விகளுக்கு அவர் தனது கருத்தை வெளிப்படையாக தெரிவித்துள்ளார். அதில் ஒவ்வொன்றாக பார்க்கலாம்.</p>
   
   <h3>கடைசியாக அழுதது எப்போது:</h3>
   <p>கடைசியாக அழுதது எப்போது என்ற செய்தியாளர் கேள்விக்கு பதிலளித்த சுந்தர்பிச்சை., கோவிட் தொற்று இரண்டாம் அலையில் ஏப்ரல் முதல் மே மாத வரையிலான காலக்கட்டம் இந்தியாவின் கொடிய நிலையாக இருந்தது. ஆயிரக்கணக்கானவர்கள் பலியாகினர், இணையத்தில் பகிரப்பட்ட கங்கை ஆற்றில் மிதந்த இறந்த உடல்களின் புகைப்படங்கள் ஆகியவை. இதன்காரணமாகவே இந்தியாவுக்கு கூடுதல் நிதியும் வழங்கப்பட்டது.</p>
  
   <center><img src="sunder2.jpg"/></center>
   <h3>நான் என்றால் இந்தியாதான் அதில் பெரும் பங்கு:</h3>
   <p>தான் ஒரு அமெரிக்க குடிமகன் என்றாலும் இந்தியா தனக்குள் வேரூன்றி இருப்பதாக ஒரு கேள்விக்கு பதிலளித்தார். மேலும், தமிழ்நாட்டில் பிறந்து சென்னையில் வளர்ந்த பிச்சையிடம் இந்தியா ஆழமாக வேரூன்றி இருப்பதாகவும், அவர் யார் என்பதில் பெரும் பங்கு இந்தியாவுக்கு உள்ளது என்றும் கூறினார். பல்வேறு தொழில்நுட்பங்கள் அவருக்குள் மாற்றத்தக்கத தாக்கத்தையும் ஏற்படுத்தியதாக கூறினார்.</p>

   <h3>Free And Open Internet Under Attack": Google Boss Sundar Pichai</h3>
    <p>* Sundar Pichai's comment comes as social media platforms, news publishers, OTT websites and search engines (like Google) grapple with India's new IT rules</p>
   <p>* New Delhi: The "free and open internet is under attack in several countries", Google boss Sundar Pichai told the BBC. Mr Pichai said many countries were restricting, or trying to restrict, the flow of information, and that the idea of a "free and open internet" was being taken for granted.</p>
    "... it is more a step back... I think a free and open internet is a tremendous force for good and we take it for granted a bit...," he said in response to a question about "different internets" - a reference to countries having increasingly disparate laws about online content and what kind is "offensive". </p>
  </div>
</main>

<footer>
  <%- include('../paraties/footer'); %>
</footer>

</body>
</html>