<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../paraties/head'); %>
</head>
<body class="container">

<header>
  <%- include('../paraties/navbar'); %>
</header>

<main>
  <div class="jumbotron">
    <center><h1>School And College Open:</h1></center>
    
   <h3 style="color: blue;"> Are children at lower risk of COVID-19 than adults?</h3>
    
    <p>* So far, data suggests that children under the age of 18 years represent about 8.5% of reported cases, with relatively few deaths compared to other age groups and usually mild disease. However, cases of critical illness have been reported. As with adults, pre-existing medical conditions have been suggested as a risk factor for severe disease and intensive care admission in children.
     Further studies are underway to assess the risk of infection in children and to better understand transmission in this age group. </p>
    <center><img src="school1.jpg" width="53%"/></center><br/>
 
    <p>* The role of children in transmission is not yet fully understood. To date, few outbreaks involving children or schools have been reported. However, the small number of outbreaks reported among teaching or associated staff to date suggests that spread of COVID-19 within educational settings may be limited.</p>
    
    <h3 style="color: blue;">Should teachers and oter staff with underlying health conditions return to school?</h3>
    <p>* Adults 60 years and older and people with underlying health conditions are at higher risk for severe disease and death. The decision to return to a teaching environment depends on the individual and should include consideration of local disease trends, as well as the measures being put in place in schools to prevent further spread.</p>
    <p>* The incubation period for children is the same as in adults. The time between exposure to COVID-19 and when symptoms start is commonly around 5 to 6 days, and ranges from 1 to 14 days.</p>
  
    
   <h2><img src="school2.jpg" width="33%"></h2> 
   
   <div class="school" style="margin-left: 38%;">
   <p>The decision to reopen schools should include consideration of the following benefits:<br/>
    <ul>
    <li>Allowing students to complete their studies and continue to the next level.</li>
    <li>Essential services, access to nutrition, child welfare, such as preventing violence against children.</li>
    <li>Social and psychological well-being.</li>
    <li>Access to reliable information on how to keep themselves and others safe.</li>
    <li>Reducing the risk of non-return to school.</li>
    <li>Benefit to society, such as allowing parents to work.</li>
    </ul> </p>
   </div>

   <p>* All the schools have been closed since mid-March last year when the novel Coronavirus hit the nation. Schools have adopted online education as a mode of study causing a massive transformation in the education sector. However, reopening of schools in offline mode is not mandatory. The school reopening decision will be made voluntarily by the states. Delhi Chief Minister Arvind Kejriwal said that the schools, educational institutions will continue to remain closed in the national capital. However, the question of when will school reopen in India 2021 is still unanswered. Keeping the possible third COVID-19 wave in mind, state governments are encouraging online classes. Last year, states like Haryana and Uttar Pradesh have opened schools for some classes. </p>
  <h2><img src="school3.jpg" width="43%"/></h2>
<br/>
  <p>* The Haryana government has allowed schools to reopen for Classes 9 to 12 from July 16. Schools for class 6 to 8 will open from July 23. Informing about the decision, state education minister Kanwar Pal said the state government had decided to open all schools for Class 9 to 12 from July 16.</p>

  <p>* With the decline in the number of cases of Covid-19, the Haryana government has decided to reopen the schools in the state. As per information, the state government will reopen the schools for Classes 9 to 12 from July 15, and for classes 6 to 8 from July 23, 2021, keeping in mind the strict Covid-19 SOPs.</p>

   <p>* As per reports, the online classes will continue and students who want to continue taking them will be allowed to do so. For offline classes, schools will only allow students after getting written permission from the parents.</p> 
    
   <p>* The Chief Minister of Haryana, Shri Manohar Lal, took to his Twitter handle and tweeted the announcement. He tweeted:</p>
   <p>* "Haryana government has decided to open all the schools in the state for Classes 9 to 12 from July 16, and for Classes 6 to 8 from July 23."</p>
</div>
</main>

<footer>
  <%- include('../paraties/footer'); %>
</footer>

</body>
</html>