.box{
    border: 1px solid black;
    width: 75%;
    height: 568px;
    margin-left:10%;
    margin-top: 3%;
}
.filter{
    margin-top: 4%;
}
.all{
    border:1px solid black;
     width:16%;
     height:28px;
    text-align: center;
     margin-left:10%;
     margin-top: 3%; 
     cursor: pointer;   
}

.strom{
    border:1px solid black;
     width:16%;
     height:28px;
     text-align: center;
     margin-left:30%;
     margin-top: -2.7%;  
     cursor: pointer;  
}

.strom3{
    border:1px solid black;
     width:16%;
     height:28px;
     text-align: center;
     margin-left:50%;
     margin-top: -2.7%; 
     cursor: pointer;   
}

.electronics{
    border:1px solid black;
     width:16%;
     height:28px;
     text-align: center;
     margin-left:70%;
     margin-top: -2.7%; 
     cursor: pointer;   
}

.card-section{
    flex-direction: column;
}
.new-btn{
         margin-left: 14%;
          width:12%;
          height:28px;
          cursor: pointer;
          background-color: blue;

}

.delete-btn{
    margin-left: 44%;
    width:12%;
    height: 28px;
    cursor: pointer;
    background-color: chocolate;
}