body{
    margin: 0;
    padding: 0;
}
#one ul{
    display: flex;
    height: 80px;
    margin-top: -1px;
    margin-left: -50px;
    background-color: #343a40;
    cursor: pointer;
}
#one ul li{
    color: #9a8d7b;
    list-style: none;
    margin-top: 22.5px;
    margin-left: 45px;
    font-size: 1.3em;
    flex-direction: column;
}
.second {
    height: 130px;
    margin-top: -22.8px;
    margin-left: -50px;
    background-color: #333333;
}
.second >.on{
    color: white;
    padding-top: 38.1px;
    margin-top: 22.5px;
    font-size: 2.5em;
    word-spacing: 2px;
    text-align: center
}
table{
    margin-top:117px;
}

table th{
    background-color: #333333;
    color: white;
} 
table tr{
    text-align: center;
    word-spacing: 2px;
}

.end{
    background-color: #2b2d3b;
   width: 100.6%;
   height: 100px;
   margin-left:-8px ;
   margin-top: 99px;
}
.end .cn{
   position: absolute;
   color: white;
   font-size: 1.1em;
   margin-top: 30.5px;
   margin-left: 140px;
   word-spacing: 2px;
}
.end .cn2{
   position: absolute;
   color: white;
   font-size: 1.2em;
   margin-top: 39px;
   margin-left: 878px;
   word-spacing: 4px;
}


    